@{
}

<div id="welcome-animation">
    <div id="word-container-1">
        <div id="letter-boxes">
            <div class="letter-box" id="letter-box-1"><div>U</div></div>
            <div class="letter-box" id="letter-box-2"><div>S</div></div>
            <div class="letter-box" id="letter-box-3"><div>E</div></div>
        </div>
    </div>

    <div id="word-container-2">
        <div id="letter-boxes">
            <div class="letter-box" id="letter-box-4"><div>T</div></div>
            <div class="letter-box" id="letter-box-5"><div>I</div></div>
            <div class="letter-box" id="letter-box-6"><div>M</div></div>
            <div class="letter-box" id="letter-box-7"><div>E</div></div>
        </div>
    </div>

    <div id="word-container-3">
        <div id="letter-boxes">
            <div class="letter-box" id="letter-box-8"><div>W</div></div>
            <div class="letter-box" id="letter-box-9"><div>I</div></div>
            <div class="letter-box" id="letter-box-10"><div>S</div></div>
            <div class="letter-box" id="letter-box-11"><div>E</div></div>
            <div class="letter-box" id="letter-box-12"><div>L</div></div>
            <div class="letter-box" id="letter-box-13"><div>Y</div></div>
        </div>
    </div>
</div>

